<header>
    <img width="100px" alt="img" data-attribute-1="src" src="./src/img/Avatar.png">
    <h1 data-text-1="text">
        titrstr{{data-mark-1:ttttttttttttttttttttt}}tttttttttttttttttttttttttttttttttttttttttttttttttstrstle</h1>
    <p data-text-2="text">
        descriptttttttttttttttttttttttttttttttttttttCttttttttttttttttttttttsrtrstrstrsion
    </p>
    <button type="submit" style="height: 40px; width: 300px"
        data-text-3="text">butttttttttttttttttttttttttttttttttttttttttttttttttttttttttttton
    </button>
</header>